@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  position: relative;
}
.b-b-width {
  width: 0%;
}
.PrefectCard {
  height: 0%;
}
.wrapper:hover .PrefectCard {
  -webkit-transition: height 1s ease-in-out;
  -moz-transition: height 1s ease-in-out;
  -o-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
  height: 100%;
}
.wrapper:hover .b-b-width {
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;

  width: 100%;
}
.textEditor ul {
  list-style: disc;
  padding-left: 20px;
}
.textEditor a {
  text-decoration: underline !important;
  color: rgb(34, 7, 153) !important;
}
.textEditor h2,
.textEditor h3,
.textEditor h4 {
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
}
.news-details__social-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.news-details__social-list span {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  color: var(--thm-black);
  background-color: #faf5ee;
  border-radius: 50%;
  font-size: 15px;
  height: 50px;
  width: 50px;
  transform: rotate(0);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 1;
}

.news-details__social-list span:hover {
  color: var(--thm-base);
  transform: rotate(360deg);
}

.news-details__social-list span:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: #029e9d;
  border-radius: 50%;
  transform: scale(0);
  transform-origin: center;
  transform-style: preserve-3d;
  transition: all 0.4s cubic-bezier(0.62, 0.21, 0.45, 1.52);
  z-index: -1;
}

.news-details__social-list span:hover:before {
  transform: scaleX(1);
}

.news-details__social-list span + span {
  margin-left: 1;
}
